@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');
#quarto-content>* {
    padding-top: 0;
    margin:0;
}

#quarto-content>* {
    padding-top: 0;
    margin: 0;
}
body {
    font-family:'Roboto Slab', serif;
}

body .page-columns {
    display: block;
    font-family:'Roboto Slab', serif;
}

.leaflet-container {
    font: 16px/1.5 'Roboto Slab', serif;
}

.leaflet-top .leaflet-control {
    margin-top: 90px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: #333333cc;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

h5, .h5 {
    font-size: 1.2rem;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    width: 23px;
    height: 23px;
    color: #ffffff;
    opacity: 1;
}


