@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');

.navbar{
  position: fixed !important;
  top: 0;
  width: 100%;
}

.navbar-logo {
    max-height: 40px;
    width: auto;
    padding-right: 19px;
}

.navbar-dark {
    background-color: #000000;
}


.card {
  background-color:#0909096b;
}



