.Rproj.user
.Rhistory
.RData
.Ruserdata

# renv
renv.lock
renv/
.Rprofile

# quarto
.quarto/

# data
data/diagnostics/*/*.csv
data/interim/*/*/*.csv
data/processed/*/*.csv
data/raw/*/*/*/*.csv
data/raw/*/*/*.xlsx

# rsconnect
rsconnect/