@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    font-family: 'Roboto Slab', serif;
}

.navbar{
    padding-left: 28px;
}

.navbar-logo {
    margin-top: 3px;
    width: 45px;
    position: fixed;
    left: 0px;
    margin-bottom: 3px;
}

.navbar-inverse {
    background-color: #31694d;
    border-color: #31694d;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: #ffffff2e;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    background-color: #ffffff00;
}

.leaflet-container {
    font: 16px/1.5 'Roboto Slab', serif;
}

.info {
  padding: 6px 8px;
  font-family: 'Roboto Slab', serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  
}
.legend{
 line-height: 6px;
}

