body {
    background-repeat:no-repeat;
    background-position: center;
    background-image:url("https://raw.githubusercontent.com/healthinnovation/Harmonize-Project/main/img/background.JPG");
    color:#FFF;
    font-family:'Roboto Slab', serif;
    background-size: cover;

}


body .page-columns {
    display: flex;
    gap: 0;
    align-items: center;
}


.img-fluid {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.grid {
    display: flex;
    align-items: center;
    margin-right: 6rem;
    margin-left: 2rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
}

.navbar-dark .navbar-brand {
    color: #ffffff;
}

h5, .h5 {
    font-size: 1.2rem;
}


.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    width: 23px;
    height: 23px;
    color: #ffffff;
    opacity: 1;
}

