@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');
#quarto-content>* {
    padding-top: 0;
    margin:0;
}

body .page-columns {
    display: block;
}

.leaflet-container {
    font: 16px/1.5 'Roboto Slab', serif;

}

